---
import Button from "./Button.astro";
---

<div class="flex-group align-center full-width padding-block-8">
  <p>We have got lot more exciting blogs for you. Feel free to explore them.</p>
  <Button theme="secondary" class="push-start">View all blogs</Button>
</div>

<style lang="scss" scoped>
  @use "../styles/abstracts" as *;
  div {
    border-top: $divider;
  }
</style>